* {
    font-family:"Courier New";
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    font-weight: bold;
}
/*  Main Views    */
#fridge {
    display: fixed;
}
#title {
    font-size:1170%;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
}
#desc {
    font-size: 300%;
}
#input {
    font-size:300%;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow:0px 10px 2px -2px #666, inset 0px -10px rgba(0,0,0,0.5);
}
/*  Sub Views   */
#inlaid{
    width:90%;
    height:80%;
    border-radius:25px;
    box-shadow: inset 10px 10px 0px #3D5B7A;
    padding:20px;
    margin-top: 15px;
}
#ingredients {
    background-color:#666;
    color:#FFF;
    border-radius:10px;
    border: 0px;
}
#instructions {
    margin-bottom: 94px;
}
#chrome {
    background: radial-gradient(
        ellipse,
        white, #888
    );
    height: 12px;
    width:82%;
    border-radius: 10px;
}
#handle-base {
    display: block;
    background: radial-gradient(
        ellipse,
        white, #888
    );
    height: 20px;
    width: 60px;
    border-radius: 15px;
}
#handle-lever {
    display: block;
    background: radial-gradient(
        ellipse,
        white, #888
    );
    height: 10px;
    width: 120px;
    border-radius: 10px;
}
/*  Attribute classes   */
.section {
    background-color:#69C;
    color:#FFF;
    padding:20px;
    width:80%;
    height:30%;
}
.center {
    text-align:center;
    margin: 0 auto;
}
/*  Input   */
input[type='text'] {
    height:25%;
    width:100%;
}
input {
    background-color:#666;
    border: 0px;
    color:#FFF;
    border-radius:10px;
    font-size:100%;
}
/*  Misc    */
/* blurry background */
body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background-color: #ccc;
    background-image: 
        linear-gradient(45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999), 
        linear-gradient(-45deg, #999 25%, transparent 25%, transparent 75%, #999 75%, #999);
    background-size:60px 60px;
    width: 110%;
    height:110%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}