* {
    font-family:"Courier New";
    -moz-box-sizing: border-box;-webkit-box-sizing: border-box; 
    box-sizing: border-box;
    font-weight: bold;
}

#chrome-inlaid, #inlaid {
    box-shadow: inset 10px 10px 0px #3D5B7A;
}

#chrome-inlaid,#inlaid,#ingredients,#chrome,#handle-base,#handle-lever,input {
    border-radius:25px;
}

#chrome-inlaid,#inlaid,.section {
    padding:20px;
}
#fridge,#handle-base,#handle-lever {
    position:absolute;
}
#ingredients,.section,input {
    color:#FFF;
}
#chrome,#handle-lever {
    background: radial-gradient(ellipse,#FFF,#888); 
}
#title {
    font-size:1170%;
    border-top-left-radius:25px;
    border-top-right-radius:25px;
}
#desc,#input {
    font-size: 300%;
}
#input {
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
    box-shadow:0px 10px 2px -2px #666, inset 0px -10px rgba(0,0,0,0.5);
}
#inlaid{
        width:90%; height:80%;
    min-height:200px;
    margin-top: 15px;
}
#chrome-inlaid {
        width:20%; height:11px;
    margin-left:31px;
}
#ingredients {
    background-color:#666;
}
#chrome {
        width:82%; height: 11px;
}
#handle-base {
        width:60px; height:20px;
    background-color:#3D5B7A;
}
#handle-lever {
        width:120px; height:11px;
    margin:5px 0px 0px 5px;
}
.section {
        width:80%; height:30%;
    background-color:#69C;
    min-height:295px;
}
.center {
    text-align:center;
    margin: 0 auto;
}
input {
    width:100%; height:160px;
    overflow:scroll;
}
input {
    background-color:#666;
    border: 0px;
    font-size:100%;
}
